# Gradle build directories
build/
app/build/
!app/build/generated/*

# Gradle cache
.gradle/

# Environment configuration files
.env
.env.local

# IDE-specific files (adjust these as needed)
.idea/
*.iml
.DS_Store
